@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:ital@1&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ededed;
    font-family: 'Comfortaa', cursive;

}

body {
    background-color: #081b29;

}

.header {
    background: #fff;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20 10%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600px;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.container {

    background: transparent;
    height: 700px;
    position: relative;
    top: 90px;
    display: flex;
}

.root{
    background-color: azure;
    width: 50%;
    height: 100px;
    position: relative;
    left: 20%;
}